<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
		<head>
			<title>eMinder</title>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="keywords" content="event, holiday, schedule, calendar, gift, shopping, alarm">
			<meta name="description" content="Event creation and tracking">
			<link href="../assets/css/bootstrap.css" rel='stylesheet' type='text/css'/>
			<link href="../assets/css/theme-style.css" rel='stylesheet' type='text/css'/>
			<link href="../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
	</head>
	<body>
		<!-- <p id="right"> -->
			{{#unless logged_in}}
			<p id="hidden">
				<a href="/users/sign-in">Sign In</a>
				<a href="/users/new">Sign Up</a>
			</p>
			{{/unless}}

			{{#if logged_in}}
			<p id="right">
				<a href="/users/sign-out">Sign Out</a>
				<br>
				<button id="optionBut" href="#"/><i class="fa fa-cog" id="#option" aria-hidden="true"></i></button>
			</p>
			{{/if}}
		<!-- </p> -->

		{{{ body }}}

		<!--//OPTIONS MODAL-->
		<div class="modal fade" id="optModal" role="dialog">
				<div class="modal-dialog">
						<div class="modal-content">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">OPTIONS</h4>
								</div>
								<div class="modal-body">
									<p>DELETE ACCOUNT</p>
									<form class="create-update-form" action="events/deleteaccount/" method="POST">
									  <button class="button_base b05_3d_roll" type="submit">
									    <div>Delete Account</div>
									    <div>Delete Account</div>
									  </button>
									  </form>
								</div>
								<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
						</div>
				</div>
		</div>

		<script>
				$(document).ready(function() {
						$("#optionBut").click(function() {
								$("#optModal").modal();
						});
				});
		</script>
	</body>
</HTML>
