<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
		<head>
			<title>eMinder</title>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="keywords" content="event, holiday, schedule, calendar, gift, shopping, alarm">
			<meta name="description" content="Event creation and tracking">
			<meta http-equiv="refresh" content="30">
			<link href="../assets/css/bootstrap.css" rel='stylesheet' type='text/css'/>
			<link href="../assets/css/theme-style.css" rel='stylesheet' type='text/css'/>
			<link href="../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
	</head>
	<body>
		<!-- <p id="right"> -->
			{{#unless logged_in}}
			<p id="hidden">
				<a href="/users/sign-in">Sign In</a>
				<a href="/users/new">Sign Up</a>
			</p>
			{{/unless}}

			{{#if logged_in}}
			<p id="right">
				<span class="whiteText">LOGIN:   </span> {{this.username}} <br>
				<a href="/users/sign-out">Sign Out</a>
			</p>
			{{/if}}
		<!-- </p> -->

		{{{ body }}}
	</body>
</HTML>
