

<h4 style="font-family: oksana; color:#4e4d4d;">Hi there {{user.email}}!; Because you can't remenber shit; Here is your daily reminder.</h4><br/>
{{#each user.Events}}
	<p style="font-family: oksana; color:#4e4d4d;">Remember that {{this.recipient_name}} has a {{this.event_type}}</p><br/>
{{/each}}

<img  src="https://cloud.githubusercontent.com/assets/16453456/19577304/9dcc8b88-96cb-11e6-81e4-7e63e384338d.png"><br/>

