<h4 style="font-family: oksana; color:#4e4d4d;">Nice to have you on board! Now have a seat and leave the heavy lifting to us.</h4><br/>
<p style="font-family: oksana; color:#4e4d4d;">As a reminder your username is {{username}}</p><br/>
<img src="https://cloud.githubusercontent.com/assets/16453456/19577304/9dcc8b88-96cb-11e6-81e4-7e63e384338d.png"><br/>



