
<div class="window">
<h3 class="occHead">Create An Account</h3>
<form class="create-update-form" action="/users/create" method="POST">
  <div class="col-3">
    <label>
      Username
      <input placeholder="Ex. Haystaycks" tabindex="1" id="un" name="username" />
    </label>
  </div>
  <div class="col-3">
    <label>
      Email
      <input type="text" id="em" tabindex="2" name="email"/>
    </label>
  </div>
  <div class="col-3">
    <label>
      Password
      <input type="password" tabindex="3" id="pass" name="password"/>
    </label>
  </div>
  <button class="button_base b05_3d_roll" type="submit">
      <!-- <div id="myBtn1" class="button_base b05_3d_roll" type="submit"> -->
      <div>Sign Up</div>
      <div>Sign Up</div>
    </div>
    </button>
</form>
</div>
