<!-- this is the sign_in.handlebars file inside the users folder of the views folder
views/users/sign_in.handlebars -->

    <video id="bgVideo" preload="true" autoplay loop muted>
        <source src="../assets/images/suns.mp4" type="video/mp4">
    </video>

<div class="window">
<h3 class="occHead">Sign In</h3>
<form class="create-update-form" action="/users/login" method="POST">
  <div class="col-2">
    <label>
      Email
      <input type="text" id="em" tabindex="2" name="email"/>
    </label>
  </div>
  <div class="col-2">
    <label>
      Password
      <input type="password" tabindex="3" id="pass" name="password"/>
    </label>
  </div>
  <button class="button_base b05_3d_roll" type="submit">
      <!-- <div id="myBtn1" class="button_base b05_3d_roll" type="submit"> -->
      <div>Sign In</div>
      <div>Sign In</div>
    </div>
    </button>
</form>
</div>
